.dot.asm.swp
.dot.asm.un~
dot.asm~
.gitignore.swp
..gitignore.un~
.gitignore~
kernel.asm~
.kernel.asm.swp 
.kernel.asm.un~
.kernel.cpp.un~
.run.sh.un~
.zeroes.asm.un~
Binaries
zeroes.asm~
run.sh~
kernel.cpp~
